{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShelf</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h2>
            Welcome to the city library
        </h2>
        <nav>
            <a href="">Home</a>
            <a href="">login</a>
            <a href="">Register</a>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <figure>
                    <img src="" alt="" srcset="">
                </figure>
                <div class="description">
                    <p class="book title">How to get away with Murder</p>
                    <p class="book author">Annaliese Keathen</p>
                    <p class="book publication">2021</p>

                </div>
            </div>
        </section>
        
    </main>
</body>
</html>